@import "meicon";
@import "proxima-font";

div#career {
  background: #f2f2f2;
  height: 100vh;

  h1 {
    text-align: left;
  }
  h2 {
    color: #727272;
    font-size: 18px;
    text-align: center;
  }
  .scroll{
    bottom: 0;
  }

  .harmonica {
    margin: 35px auto 0 auto;
    background: transparent;
    max-width: 900px;
    .show-harmonica {
      padding: 5px 15px;
      text-align: justify;
      background: transparent;
      font-size: 12px;
      color: #000;
    }
    .main-panel {
      border: 1px solid #d9d9d9;
      border-radius: 5px;

      -webkit-transition: all 0.6s cubic-bezier(.25, .46, .45, .94);
      -moz-transition: all 0.6s cubic-bezier(.25, .46, .45, .94);
      transition: all 0.6s cubic-bezier(.25, .46, .45, .94);
      label[for^="harmonica"] {
        font-family: 'ProximaNova-Regular', sans-serif;
        color: #6fbc00;
        text-align: left;
        position: relative;
        background: transparent;
        font-size: 16px;
        &:before {
          color: #aeb0b3;
          position: absolute;
          top: 10px;
          right: 6px;

          font-family: 'meIcons';
          content: "\e924";
          font-size: 18px;
          border: none;
          background: transparent;
        }
      }
    }
  }

  input[id^="harmonica"]:checked + .main-panel {
    -webkit-transition: all 0.6s cubic-bezier(.25, .46, .45, .94);
    -moz-transition: all 0.6s cubic-bezier(.25, .46, .45, .94);
    transition: all 0.6s cubic-bezier(.25, .46, .45, .94);
    label[for^="harmonica"] {
      color: #6fbc00;
      text-align: left;
      position: relative;
      background: #e8e8e8;;
      &:before {
        content: "\e923";
      }
    }
  }

  /* Extra Small Devices, Phones */
  @media only screen and (min-width: 480px) {
    height: auto;
    min-height: 500px;
    h1{
      text-align: center;
    }

    .small-hidden {
      display: inline;
    }
  }

  /* Small Devices, Tablets */
  @media only screen and (min-width: 768px) {

    .sm-hide {
      display: block;
      opacity: 1;
      visibility: visible;
      margin: 15px;
    }
    .button{
      width: 300px;
      margin: 60px auto;
      padding: 15px;
    }

    .harmonica {
      .show-harmonica {
        font-size: 14px;
      }
      .main-panel {
        margin-bottom: 6px;
        min-height: 49px;
        label[for^=harmonica] {
          padding: 15px;
          &:before {
            top: 15px;
          }
        }
      }
    }

  }

  /* Medium Devices, Desktops */
  @media only screen and (min-width: 992px) {
  }
  /* Medium Devices, Desktops */
  @media only screen and (min-width: 1200px) {

    min-height: 900px;
     h2 {
      font-size: 21px;
    }
    .harmonica {
      .show-harmonica {
        font-size: 16px;
        padding: 10px 50px 10px 15px;
      }
      .main-panel {
        margin-bottom: 10px;
        min-height: 60px;
        label[for^=harmonica] {
          font-size: 22px;
          padding: 17px;
          &:before {
            font-size: 22px;
            top: 15px;
            right: 10px;
          }
        }
      }
    }
  }

}





