div#contact {
  background: #fff;
  z-index: 7;

  .span-mini-24{
    z-index: 11;
  }
  button{
    padding: 5px 0;
  }

  h1,h2,h3{
    text-align: left;
    margin-left: 10px;
  }
  h2{
    color: #000;
  }
  h3{
    color: #979797;
    font-size: 14px;
  }
  p{
    display: inline;
  }

  .brno,.ostrava{
    padding: 15px 5px;
    .row{
      margin: 15px 0;
    }
  }

  .buttons{
    width: 182px;
  }
  button{
    display: inline-block;
    background: #fff;
    border: 1px solid #DBDBDB;
    color:  #6fbc00;
    border-radius: 15px;
    width: 180px;
    margin: 5px 0 0 0;
    &:hover{
      background: #6fbc00;
      color: #fff;
      border: 1px solid transparent;
    }
  }
  .btnON{
    background: #6fbc00;
    border: 1px solid transparent;
    color: #fff;
    &:hover{
      color: #6fbc00;
      background: #fff;
      border: 1px solid #DBDBDB;
    }
  }

  /* Small Devices, Tablets */
  @media only screen and (min-width : 480px) {
    h1{
      text-align: center;
    }
    .buttons{
      width: 365px;
    }
  }

  /* Small Devices, Tablets */
  @media only screen and (min-width : 768px) {
    [class*=" me-"],[class^="me-"]{
      font-size: 60px;
      width: 60px;
      height: 60px;
    }
    .buttons{
      width: 400px;
    }
    button {
      padding: 10px 0;
      margin: 25px 8px;
    }
    .brno,.ostrava{
      max-width: 600px;
      margin: 0 auto;
      .row{
        margin: 0;
      }
    }
  }

  /* Small Devices, Tablets */
  @media only screen and (min-width : 992px) {
    .bg-hide {
      display: none !important;
    }
    h2{
      font-size: 21px;
      line-height: 39px;
      color: #727272;
    }
    .brno,.ostrava{
      h2{
        font-size: 26px;
        line-height: 1;
      }
    }
    h2:last-of-type{
      margin-bottom: 25px;
    }
    h3{
      font-size: 18px;
    }
  }

  /* Small Devices, Tablets */
  @media only screen and (min-width : 1200px) {
    .brno,.ostrava{
      max-width: 800px;
    }
  }

}