div#contact {
  background: #fff;



  .span-mini-24{
    z-index: 11;
  }
  button{
    padding: 5px 0;
  }

  h2,h3{
    text-align: left;
    margin-left: 10px;
  }
  h2{
    color: #000;
  }
  h3{
    color: #979797;
    font-size: 14px;
  }
  p{
    display: inline;
  }

  .brno,.ostrava{
    padding: 15px 5px;
  }

  button{
    background: #fff;
    border: 1px solid #a4a4a4;
    color:  #6fbc00;
    border-radius: 30px;
    &:hover{
      background: #6fbc00;
      color: #fff;
      border: 1px solid transparent;
    }
  }
  .btnON{
    background: #6fbc00;
    border: 1px solid transparent;
    color: #fff;
    &:hover{
      color: #6fbc00;
      background: #fff;
      border: 1px solid #a4a4a4;
    }
  }



  /* Small Devices, Tablets */
  @media only screen and (min-width : 768px) {
    top: -90px;
    button {
      padding: 10px 0;
    }
  }

  /* Small Devices, Tablets */
  @media only screen and (min-width : 992px) {
    height: 500px;
    .bg-hide {
      display: none !important;
    }
  }

}