

#intro {
  height: 100vh;
  max-height: 670px;
  .head-content {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 80px;
    max-width: 1200px;
    margin: 0 auto;
    .logo {
      position: absolute;
      top: 15px;
      left: 15px;
      z-index: 99;
      height: 50px;
    }
    #nav {
      position: fixed;
      top: 20px;
      right: 10px;

      width: 46px;
      height: 46px;
      z-index: 9999;
      .dropdown-main {
        display: block;
        width: 46px;
        height: 46px;

        label {
          position: relative;
          top: 0;
          right: 0;
          display: block;

          cursor: pointer;
          user-select: none;
          width: 40px;
          height: 32px;
          transition: all 3s;

          .menuRes1, .menuRes2, .menuRes3, .menuRes4 {
            position: absolute;
            top: 7px;
            left: 5px;

            height: 3px;
            width: 30px;
            background: #ffffff;
            transition: all 0.7s;
          }
          .menuRes2, .menuRes3 {
            top: 15px;
            transition: all 0.7s .2s;
          }
          .menuRes4 {
            top: 23px;
          }
          &:hover {
            background: #6fbc00;
          }

        }
        input[type=checkbox] {
          display: none !important;
          opacity: 0;
        }
        ul {
          border-radius: 0;
          background: lighten(#cecece, 15%);
          width: 140px;
          top: -300px;
          .active {
            color: #6fbc00;
            border-bottom: 1px solid #6fbc00;
          }
          a {
            width: 130px;
            margin-left: 10px;
            border-bottom: 1px solid #a4a4a4;
            color: #3a3a3a;
            &:hover, &:focus {
              color: #6fbc00;
              border-bottom: 1px solid #6fbc00;
              background: none;
            }
          }
          padding-bottom: 10px;
          li {
            display: block;
          }
          li:hover, li:focus {
            background: none;
          }
        }
        input[type=checkbox]:checked {
          ~ #dropdown {
            top: 32px;
            margin-left: -110px;
          }
        }
        input[type="checkbox"]:checked ~ label {
          .menuRes1, .menuRes4 {
            top: 15px;
            opacity: 0;
          }
          .menuRes2 {
            -ms-transform: rotate(405deg) scale(0.9); /* IE 9 */
            -webkit-transform: rotate(405deg) scale(0.9); /* Chrome, Safari, Opera */
            transform: rotate(405deg) scale(0.9);
          }
          .menuRes3 {
            -ms-transform: rotate(-225deg) scale(0.9); /* IE 9 */
            -webkit-transform: rotate(-225deg) scale(0.9); /* Chrome, Safari, Opera */
            transform: rotate(-225deg) scale(0.9);
          }
        }
      }
    }
  }
  .scrollMenu #nav .dropdown-main .show-drop {
    background: #6fbc00;
  }

  .content {
    margin-top: 20%;
    h1 {
      color: #fff;
      font-size: 36px;
    }
    h2 {
      color: #a4a4a4;
      font-size: 18px;
      margin: 0 30px;
    }
    .margin-auto {
      width: 200px;
    }
  }

  .scroll .me-scroll-down {
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
  }
  @-webkit-keyframes Floatingx {
    from {
      -webkit-transform: translate(0, 0px);
    }
    65% {
      -webkit-transform: translate(0, 15px);
    }
    to {
      -webkit-transform: translate(0, -0px);
    }
  }
  @-moz-keyframes Floating {
    from {
      -moz-transform: translate(0, 0px);
    }
    65% {
      -moz-transform: translate(0, 15px);
    }
    to {
      -moz-transform: translate(0, -0px);
    }
  }

  @media only screen and (min-width: 480px) {
    .content {
      margin-top: 0;
      h1 {
        margin-top: 50px;
      }
    }
  }

  /* Small Devices, Tablets */
  @media only screen and (min-width: 768px) {

    .scrollMenu #nav .dropdown-main .show-drop{
      background: transparent;
    }
    .head-content #nav {
      top: 15px;
      right: 500px;
      .dropdown-main {
        label {
          [class*="menuRes"] {
            display: none;
            opacity: 0;
          }
        }
        ul {
          top: 0;
          visibility: visible;
          opacity: 1;
          min-width: 500px;
          height: auto;
          right: 0;
          background: transparent;
          box-shadow: none;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          li {
            a {
              font-size: 16px;
              border-bottom: 1px transparent;
              color: #a3a3a3;
              width: auto;
              float: right;
              padding: 10px 5px 0 5px;
            }
          }

          &:hover, &:focus {
            background: none;
            box-shadow: none;
          }
        }
      }
    }

    .bg-scrollMenu {
      position: fixed;
      top: 0;
      right: 0;
      z-index: 99;
      display: block;
      width: 100%;
      height: 35px;
    }

    .bg-scrollMenuON {
      background: rgba(97, 97, 97, 0.75);
    }

    .bg-scrollMenuONblack {
      background: rgba(29, 29, 29, 0.75);
    }

    .scrollMenu {
      #nav {
        top: 0;
        .dropdown-main ul li a {
          padding: 5px 5px 0 5px;
          color: #d3d3d3;
        }
      }
    }
    input[type=checkbox]:checked ~ #dropdown {
      margin-left: 0;
    }
    .content h1 {
      font-size: 36px;
    }

  }
  @media only screen and (min-width: 1200px) {
    .head-content{
      #nav{
        right: auto;
        left: 50%;
        #dropdown{
          margin-top: 20px;
          li{
            margin-left: 40px;
          }
        }
      }
      .logo{
        top: 25px;
        height: 70px;
      }
    }
    .content{
      h1{
        font-size: 62px;
        margin-top: 120px;
      }
      h2{
        font-size: 22px;
        line-height: 39px;
      }
      .margin-auto{
        width: 300px;
      }
      .button{
        width: 300px;
        padding: 15px 0;
        margin: 45px 0 20px 0;
      }
    }
    .scrollMenu {
      #nav {
        top: 0;
        #dropdown{
          margin-top: 0;
        }
        .dropdown-main ul li a {
          padding: 5px 5px 0 5px;
          color: #d3d3d3;
        }
      }
    }
  }

}
/*
  !* Medium Devices, Desktops *!
  @media only screen and (min-width: 992px) {

    #intro .scroll{
      bottom: 150px;
    }
    .head-content #nav {
      left:50%;
      top: 0;
      width: 500px;
      .dropdown-main {
        #dropdown{
          top: 40px;
          width: 500px;
        }
        ul {
          li {
            a {
              font-size: 22px;
              padding: 15px 5px 0 5px;
            }
          }
        }
      }

    }
  }

  !* Large Devices, Wide Screens *!
  @media only screen and (min-width: 1200px) {

    .bgHead{
      img{
        height: 600px;
      }
    }
    #intro{
      height: 670px;
    }
    #intro button{
      padding: 20px;
    }

    .head-content #nav {
      .dropdown-main {
        #dropdown {
          margin-left: 100px;
          width: 500px;
        }
        ul {
          li {
            margin-left: 60px;
            a {
              font-size: 16px;
              padding: 0;
            }
          }
        }
      }
    }
    .scrollMenu #nav {
      .dropdown-main {
        #dropdown {
          width: 600px;
        }
        ul {
          li {
            a {
              padding: 0;
            }
          }
        }
      }
    }

    .bg-scrollMenu {
      height: 55px;
    }

    .head-content .logo {
      top: 10px;
      height: 70px;
    }

    #intro .content h1 {
      font-size: 62px;
    }

    #intro .content h2 {
      margin: 10px;
    }

    .head-content {
      #nav {
        .dropdown-main ul {
          //top: 10px;
        }
      }
    }

    .scrollMenu {
      #nav {
        .dropdown-main ul {
          top: 0;
        }
        .dropdown-main ul li a {
          color: #d3d3d3;
        }

      }
    }

    .head-content #nav .dropdown-main #dropdown {
      position: fixed;
      width: 600px;
      left: 50%;
    }

  }*/




