
#products {
  background: #fff;
  height: 260vh;
  max-height: 900px;

  h1 {
    //margin: 15px auto;
    color: #000;
  }
  h2 {
    color: #232323;
    font-size: 16px;
  }
  h3 {
    color: #979797;
    text-align: center;
  }
  .product-items {
    margin-top: 10px;
    h2, h3 {
      text-align: left;
      margin-left: 5px;
    }
    .row {
      display: block;
      width: 100%;
      padding: 15px 0;
      &:after {
        position: relative;
        bottom: -15px;
        left: 5%;
        width: 90%;
        height: 1px;
        background: #e4e4e4;
      }
      h2 {
        font-weight: 600;
      }
    }
  }

  /* Extra Small Devices, Phones */
  @media only screen and (min-width: 480px) {
    height: 140vh;
    .product-items {
      margin-top: 10px;
      h2, h3 {
        margin-left: 10px;
      }
      .row {
        &:after {
          left: 10%;
          width: 85%;
        }
      }
    }
  }

  /* Small Devices, Tablets */
  @media only screen and (min-width: 768px) {
    max-height: 100vh;
    h2{
      margin: 0 10px;
    }
    .product-items .row {
      min-height: 115px;
      &:after {
        display: none;
      }
    }

    .product-items {
      h2, h3 {
        text-align: left;
        margin-left: 20px;
      }
    }

  }
  /* Medium Devices, Desktops */
  @media only screen and (min-width: 900px) {
    h2{
      margin: 0;
      font-size: 20px;
    }
    h2, h3 {
      margin-left: 10px;
    }
  }
}
