
#products{
  background: #fff;
  height: 200vh;

  h1{
    margin: 15px auto;
    color: #000;
    font-size: 24px;
  }
  h2{
    color: #000;
    font-size: 18px;
  }
  h3{
    color: #979797;
    font-size: 14px;
    text-align: center;
  }
  .product-items {
    margin-top: 10px;
    h2,h3{
      text-align: left;
      margin-left: 5px;
    }
    .row{
      display: block;
      width: 100%;
      padding: 15px 0;
      &:after{
        position: relative;
        bottom: -15px;
        left: 5%;
        width: 90%;
        height: 1px;
        background: #e4e4e4;
      }
      h2{
        font-weight: 600;
      }
    }
  }

  .show-products {
    width: 100%;
    font-size: 24px;
    .dots {
      font-size: 14px;
      display: block;
      width: 32px;
      margin: 30px auto 0 auto;
      .circle {
        display: inline-block;
        width: 8px;
        height: 8px;
        background: #979797;
        border-radius: 100%;
      }
    }
  }
}