/*@-ms-viewport {
    width: device-width;
}*/

html, body{
  height:100%;
  width:100%;
  position: relative;
}

body {
  font-family: "Proxima Nova Lt", sans-serif;
  color: #a4a4a4;
  background-color: #2F2F2F;
  overflow-x: hidden;
  margin: 0;
  padding: 0;

  h1 {
    color: #000;
    font-size: 24px;
    text-align: center;
    max-width: 210px;
    margin: 15px auto 15px auto;
  }
  h2 {
    font-size: 16px;
    line-height: 18px;
    color: #a4a4a4;
  }
  h3 {
    font-size: 14px;
  }
  h1, h2, h3 {
    text-align: center;
  }

  a {
    color: #a4a4a4;
    transition: color 0.5s;
    &:hover {
      color: #6fbc00;
    }
  }
  div.section {
    //height: 100vh;
    min-height: 430px;
    //max-height: 620px;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
    left: 0;
  }
  div.content {
    //zoom: 0.8; -moz-transform: scale(0.8); -moz-transform-origin: 0 0;
    display: block;
    width: 100%;
    margin: 0 auto;
    z-index: 99;
    max-width: 900px;

    .button {
      font-family: "Proxima Nova Lt", sans-serif;
      color: #fff;
      font-size: 16px;
      background: #6fbc00;
      padding: 10px 0;
      margin: 15px auto;
      border-top-left-radius: 50px;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 120px 270px;
      border-bottom-left-radius: 120px 270px;
      width: 200px;
      border: none;
      transition: all 0.7s;
      outline: none;
      &:hover {
        background: darken(#6fbc00, 10%);
      }
      &:focus {
        outline: none;
      }
      &:active{
        outline: none;
      }
      &::-moz-focus-inner {
        border: 0;
      }
    }
  }

  [id^="myCanvas"] {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
  }

  .scroll {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    height: 40px;
    z-index: 999;
    span {
      display: block;
      margin: 0 auto;
      width: 40px;
      z-index: 999;
    }
  }
  .back-top{
    background: white;
  }
  .line {
    width: 35px;
    height: 4px;
    background: #a6a6a6;
    display: block;
    margin: 10px auto;
  }

  .bgHead{
    display: none;
    width: 100%;
    img{
      position: fixed;
      top: 0;
      left: 0;
      min-height: 500px;
    }
  }

  @import "header";
  @import "products";
  @import "career";
  @import "contact";
  @import "maps";
  @import "proxima-font";
  @import "meicon";
  @import "variables";

  .sm-hide{
    display: none ;
    visibility: hidden ;
    opacity: 0;
  }

  .hide {
    opacity: 0 !important;
    //transform:  translateX(200px) !important ;
    z-index: -5 !important;
  }
  .hideM{
    position: absolute;
    opacity: 0 !important;
    z-index: -2 !important;
  }

  .gr {
    color: #6fbc00 !important;
    margin-right: .4em;
  }
  .grey{
    color: #c7c7c7;//#a0a0a0;
  }
  @media only screen and (min-width: 420px){
    h1{
      max-width: none;
      margin: 25px auto 15px auto;
    }
  }
  /* Extra Small Devices, Phones */
  @media only screen and (min-width: 480px) {
    h1 {
      font-size: 28px;
    }
    h2{
      font-size: 18px;
      line-height: 24px;
    }
  }

  /* Small Devices, Tablets */
  @media only screen and (min-width: 768px) {
      /*.bgHead {
        //display: block;
        img {
          margin-left: -50%;
        }
      }*/
    .content button{
      padding: 20px;
      width: 300px;
    }

    h1 {
      font-size: 34px;
      margin-top: 50px;
    }

    h2 {
      font-size: 18px;
    }

    h3 {
      font-size: 16px;
    }
  }

  /* Medium Devices, Desktops */
  @media only screen and (min-width: 900px) {
    .bg-hide{
      display: none !important;
    }
    .bgHead {
      display: block;
      img{
        width: 100%;
      }
    }
  }

  @media only screen and (min-width: 992px) {
    .bg-hide{
      display: none !important;
    }
    .bgHead {
      display: block;
      img {
        margin-left: 0;
        max-width: 100%;
        height: 600px;
      }
    }
  }

  /* Large Devices, Wide Screens */
  @media only screen and (min-width: 1200px) {
    .bgHead{
      img{
        min-width: 100%;
      }
    }
    h1 {
      color: #000;
      font-size: 40px;
      text-align: center;
    }

    h2 {
      font-size: 21px;
      line-height: 39px;
    }

    h1, h2, h3 {
      text-align: center;
    }
    .line{
      margin: 30px auto;
      width: 70px;
      height: 2px;
    }
    div.content .button{
      font-size: 20px;
    }

  }

}

